h1 {
  font-family: 'Montserrat';
  color: #B3B3B3;
}

.newuser_box {
  justify-content: flex-end;
  margin: 3px 1px 10px 0px;

  .new_login {
    display: flex;
    justify-content: flex-end;
  }

  h2 {
    display: flex;
    justify-content: flex-end;
    font-family: 'Montserrat';
    font-size: 15px;
    color: #B3B3B3;
    margin: 0px 3px 5px 0px;
  }
}

.label_tag {
  font-family: 'Open Sans';
}

.main_container {
  display: flex;
  flex-direction: column;

    @media screen and (min-width: 800px) {
      justify-content: space-around;

    }
}
.main_contain {
  max-width: 1300px;
  margin: 0 auto;
}

.login_box {
  display: flex;
  justify-content: flex-end;
  padding: 15px 2px 0px 15px;
  margin: 10px 1px 10px 10px;

  .login-button {
    color: red;
  }
}

.horizontal_line {
  border-top: 1px dotted #8c8b8b;
}

.topbar_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // padding: 0px 10px 10px 10px;
  // margin: 5px;

    .logo_box {
    }

    .logo {
      font-family: 'Montserrat' ;
      letter-spacing: 4px;
      color: #B3B3B3;
      font-size: 60px;
      margin: 7px;
      // padding-right: 560px;
    }

    .message_box {
    }

    .vertical_line {
      border-left: 1px dotted #8c8b8b;
      padding: 5px 0px 0px 9px;
    }

    .welcome_message {
      max-width: 300px;
      font-family: 'Quicksand';
      font-size: 12px;
      color: #B3B3B3;

    }
}//ending topbar_box

.feature_contain {
  max-width: 100%;
  margin: 0 auto;
}

.feature_container {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  @media screen and (min-width: 540px) {
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
  }
}

.single_image {
  max-width: 50%;
  max-height: 50%;
}

.single {
  background-color: brown;
  width: 50%;
  height: 16rem;
  border: 1px solid green;
  margin: 0.5rem 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: 540px) {
    width: calc(33% - 0.5rem)
  }
}