
<h1>GalleryHBS</h1>

<div id="container contain">
    <div class="img_box">
      <img src="{{link}}">
    </div>

    <div class="author_box">
      <p>AUTHOR: {{author}}</p>
    </div>

    <div class="descript_box">
      <p>DESCRIPTION: {{description}}</p>
    </div>

</div>