<!DOCTYPE html>
<html>
  <body>
    <div class="main_container main_contain">
      <div class="login_box"> {{> login}} </div>
        <div class="horizontal_line"></div>

        <div class="topbar_box">

          <div class="logo_box">
            <div class="logo">_ARCHITEKT</div>
          </div>

          <div class="message_box">
            <div class="vertical_line">
              <div class="welcome_message" style="height:80px">
                Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme
              </div>
            </div>
          </div>

        </div> <!-- end of topbar_box -->

        <div class="photo_container photo_contain">
          {{#each gallery}}
            <div class="image image_box ">
                <a href="/gallery/{{id}}"><img src="{{link}}" alt=""></a>
            </div>
          {{/each}}
        </div> <!-- end of photo_container -->

    </div> <!-- end of main_container -->
  </body>
</html>