
<h1>Gallery Index</h1>

<div id="galleries">
  {{#each gallery}}
    <div class= "gallery">
      <p>AUTHOR: {{author}}</p>
      <img src="{{link}}" alt="">
      <p>DESCRIPTION: {{description}}</p>
    </div>
  {{/each}}
</div>