
{{>login}}

  {{#each gallery}}
    <div class="img_box">
      <img src="{{link}}">
    </div>

    <div class="content_box">
      <p>AUTHOR: {{author}}</p>
      <p>DESCRIPTION: {{description}}</p>
    </div>
  {{/each}}
