this is the new
<div class="newpage_box">
  <h1>NEW GALLERY</h1>

  <form action="/gallery" method="POST" enctype="application/x-www/form/urlencoded">

    <label class="label_tag" for="name">Author</label>
    <input type="text" class="input_tag" name="author" placeholder="Enter the author">

    <label class="label_tag" for="name">Link</label>
    <input type="text" class="input_tag" name="link" placeholder="Enter the link">

    <label class="label_tag" for="name">Description</label>
    <input type="text" class="input_tag" name="description" placeholder="type description">

    <input type="submit" value="save">

    <div class="add_meta_field">
      <ul id="meta_fields"></ul>

      <button id = "add_meta_field_button" type="button" >METADATA</button>

    </div>
  </form>
</div>
<script src="/js/metaFields.js"> </script>