this is the header
<div class="header_container header_contain">

  <div class="create_newuser" > <a href="/gallery/new" class="animated-button gibson-one"> CREATE NEW USERNAME </a> </div>

    <div class="login_box"> {{> login}} </div>
    <div class="horizontal_line"></div>

    <div class="topbar_box">
      <div class="logo_box">
        <div class="logo"> <a href="/gallery"> _ARCHITEKT</div>
      </a></div>

    <div class="message_box">
      <div class="vertical_line">
        <div class="welcome_message" style="height:80px">
          Welcome to our online portfolio, we are a small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme
        </div>
      </div>
    </div>
  </div>
</div>




