this is the newuser
<div class="newuser_box">
  <h2>CREATE NEW USERNAME</h2>
    <div class="new_login">
      <form action="/newUser" method="POST" enctype="application/x-www/form/urlencoded">
        <input class="input_tag" type="text" name="username" placeholder="Enter New Username">
        <input class="input_tag" type="password" name="password" placeholder="Enter New Password">
        <input class="input_tag" type="submit" value="SUBMIT">
      </form>
  </div>
</div>