<div id="New_login">
  <form class="form" action="/new" method="POST" enctype="application/x-www/form/urlencoded">
    New Username: <input type="text" name="username"><br>
    New Password:  <input type="text" name="password"><br>
    <input type="submit" value="Submit">
  </form>
</div>