<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Questrial|Quicksand|Roboto:300|Oswald:700|Roboto:500,900" rel="stylesheet">
  <title>EXPRESS GALLERY</title>
</head>

  <body>
    {{{body}}}
  </body>
</html>