
.index_contain {
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
}

.index_container {
  display: flex;
  padding: 40px;

  @media screen and (min-width: 800px) {
    flex-direction: row;
  }
}

.feature_image {
  max-width: 100%;
  max-height: 100%;
}

.feature_container {
  display: flex;
  width: 100%;
  height: 78%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: 540px) {
    width: 90%;
  }
}

.photo_container {
  width: 100%;
  height: 50%

  img {
    height: 100%;
    object-fit: cover;
  }
  @media screen and (min-width: 540px) {
    width: 38%;

  }

}

.all_image {
  height: 30%;
  margin: 0px 0px 11px 11px;

  img {
    width: 100%;
    height: 100%;
  }
}
